*{
    margin: 0;
    padding: 0;
}

.grid div:nth-child(even){
    background-color: green;
    border-style: solid;
    border-width: 1px;
}

.grid div:nth-child(odd){
    background-color: gold;
    border-style: solid;
    border-width: 1px;
}

.one{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.two{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#main-div{
    background-color: gray;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 5% 5%;
    border-style: solid;
    border-width: 5px;
}
#insert-div{
    border-style: solid;
    border-width: 5px;
}

#CRUD{
    background-color: pink;
}
#list-div{
    float: left;
}
#insert-div{
    float: right;
}


#btn-save {
    background-color: #2F5032;
}

#btn-delete {
    background-color: #E41A36;
}

.white {
    background-color: white;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.lightgreen {
    background-color: lightgreen;
}

.green {
    background-color: green;
}

.lightblue {
    background-color: lightblue;
}

.blue {
    background-color: blue;
}

.darkblue {
    background-color: darkblue;
}

.purple {
    background-color: purple;
}

.red {
    background-color: darkred;
}

.pink {
    background-color: #FF89FD;
}